%li{class: event.css_class}
  %h2
    %a{href: Backend.routes.eventTPublish_path(event.slug,"url":  params.env["REQUEST_PATH"]) }= event.published? ? "Unpublish" : "publish"
    = event.title
    %a{href: Backend.routes.eventEdit_path(event.slug)}
      %span{:class => "glyphicon glyphicon-pencil"}

  .div
    = event.html_date(:start_date)
    Uhr
    &mdash;
    = event.html_date(:end_date)
    Uhr

  .div
    = event.type

